a{
  color: #11999e;
  margin: 10px 20px;
  text-decoration: none;

}
a:hover{
color:  #eaf6f6;
}
body {
  color: #40514e;
  text-align: center;
  font-family: 'Merriweather', serif;
  margin: 0;
  background-color: black;
}

h1 {
  width: 40%;
  margin: 0 auto 0 auto;
  padding-top: 100px;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  padding-bottom: 10px;
}

.h2-1 {
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

.Top-Container {
  position: relative;
  background-color: #a7c5eb;
  padding-bottom:0;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
}

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 200px auto;


}

.top-cloud {
  position: absolute;
  right: 100px;
  top: 50px;
}

.middle-container {
  margin: 100px 0;
  background-color: black;
}

.intro {
  width: 30%;
  margin: auto;
}

.img-uzi {
  border-radius: 50%;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.coding-giph1 {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.contact-me {
  width: 40%;
  margin: 40px auto 60px;
}

.coding-giph2 {
  width: 25%;
  border-radius: 50%;
  float: right;
  margin-left: 30px;
}

.bottom-container {
  background-color: #a7c5eb;
  margin-top: 50px;
  padding: 50px 0 20px;
}

.btn {
  background: #3D94F6;
  background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  height: 50px;
  line-height: 50px;
  color: #000000;
  font-family: cursive;
  width: 160px;
  font-size: 14px;
  padding: 1px;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.BUTTON_NRO:hover {
  border: solid #337FED 1px;
  background: #1E62D0;
  background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
.copyright{
  color: white;
  font-size: 0.75rem;
  padding: 20px 20px;
}
.body-Hobbies{
  background-color: #a7c5eb;
}
.nba-section{
  background-color: black;








}

.nba1{
height: 30%;
width: 30%;
padding-right: 350px;
}
.nba2{
  height: 30%;
  width: 30%;
  




}
